<p id="notice"><%= notice %></p>

<h1>favorites</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      binding.irb
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>