// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


tr {
  width:1000px;
  border: 100px solid greenyellow;
  box-sizing: initial;
  background-color: #ccc; 
}