// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


tr {
  border: 100px solid greenyellow;
  box-sizing: initial;
  background-color: #ccc; 
}

.image{
  width: 300px;
  height: 200px;
}

.header{
  background-color: greenyellow;
}

footer{
  background-color: greenyellow;
}